.container {
  background-color: #e7ecf2;
  padding: 100px;
}

.userCard {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 300px;
  padding: 40px 0 40px;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
  font-family: sans-serif;
}

.userPhoto {
  border-radius: 50%;
  margin-bottom: 30px;
}

.userDescr {
  margin: 0 0 10px;
}

.userName {
  font-weight: bold;
}

.userStats {
  width: 300px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  font-family: sans-serif;
}

.userStatsItem {
  padding: 30px 0 30px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f3f6f9;
}

.leftBorderBottom {
  border-bottom-left-radius: 8%;
}

.rightBorderBottom {
  border-bottom-right-radius: 8%;
}
